body{
    background-color: black;
    margin: 0;
    padding: 5%;
}

.profile-pic{

    display: flex;
    margin-left: 330px;
    margin-bottom: 5px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
   justify-content: center;
    border-radius: 10%;
    gap: 30px;
    background-color: #111;
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
    transition: transform 0.3s ease;
}

.profile-pic img {
    width: 200px;
    height: 250px;
    margin-bottom: 5px; /* Reduced space below images */

    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,255,255,0.3);
    transition: transform 0.3s ease;
}

.profile-pic1:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);
}

.profile-pic2:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);
}

.profile-pic3:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);
}

.profile-pic4:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);   
}

.profile-pic5:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);
}
.profile-pic6:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0,255,255,0.7);
}



.container {
    width: 50%;
    margin: 100px auto 0;
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,255,255,0.5);
}

.container h1{

    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto;

    
}

.container h3{
    font-family: 'tahoma', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: justify;
}

.logo{
        width: 100px;
        height: 100px;  
        background-color: black;
        float: right;
        box-shadow: 0 0 20px rgba(3, 3, 3, 0.3);
        border-radius: 50%;
    }
.logo:hover{
    transform: scale(0.9);
    box-shadow: 0 0 9px gold;
}


.links{

    width: 50%;
    height: 500px;
   margin-left: 282px;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;

    background-color: #111;
    font-family: 'tahoma', sans-serif;
    font-size: 20px;
    color: #111;

    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
    transition: transform 0.3s ease;
}

.links:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,255,255,0.5);
}


.links a{
    background-color: #111;
        box-shadow: 0 0 20px black;

    color: white;
    font-weight: normal;
    font-family: 'tahoma', sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
        transform: scale(0.9px);
    
} 
.links a:hover{

    transform: scale(0.9px);
    box-shadow: 0 0 200px black;
    color: gold;
}

.links h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
